<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Sumowanko</title>

  <!-- Importuj jQuery -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Angular.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>

  <!-- Importuj Booststrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <!-- Importuj kod aplikacji -->
  <script type="text/javascript" src="js/app.js"></script>
  <link href="css/app.css" rel="stylesheet" type="text/css">
  <!-- <script type="text/javascript" src="js/xeMod.js"></script> -->

  <!-- Importuj xeditable-->
  <link href="css/xeditable.css" rel="stylesheet">
  <script src="js/xeditable.js"></script>
</head>

<body>
  <!-- ten blok definiuje sekcję aplikacji userApp -->

  <div ng-app="userApp">

    <!-- Ten blok definiuje kontroler UserCtrl -->
    <div ng-controller="UserCtrl" ng-controller="Ctrl">
      <table class="table table-bordered">
        <thead>
          <th>Operacje</th>
          <th>Nazwisko i imie</th>
          <th>Nr indeksu</th>
          <th>JavaScript</th>
          <th>jQuery</th>
          <th>PHP</th>
          <th>Suma</th>
          <th ng-if="users.length >0"></th>
        </thead>
        <!-- prezentacja zawartości modelu w każdym wierszu osobny obiekt użytkownika -->
        <tbody ng-repeat="user in users" ng-switch on="user.state">


          <!-- Szablon wyświetlania użytkownika -->
          <tr ng-switch-default>
            <td><input type="button" class="btn btn-danger" ng-click="deleteUser(user);" value="Delete" /></td>
            <td editable-text="user.nazwiskoIImie">{{user.nazwiskoIImie}}</td>
            <td editable-text="user.nr_indeksu" type="number">{{user.nr_indeksu}}</td>
            <td editable-text="user.javaScript" type="number" ng-model="a" ng-change="getUserCount(user)">
              {{user.javaScript}}</td>
            <td editable-text="user.jQuery" type="number" ng-model="b" ng-change="getUserCount(user)">{{user.jQuery}}
            </td>
            <td editable-text="user.PHP" type="number" ng-model="c" ng-change="getUserCount(user)">{{user.PHP}}</td>
            <td>{{getUserCount(user)}}</td>

          </tr>
          <!-- Podsumowanie -->
        <tbody>
          <tr>
            <td>Podsumowanie</td>
            <td></td>
            <td></td>
            <td>{{countColumn("javaScript",users)}}</td>
            <td>{{countColumn("jQuery",users)}}</td>
            <td>{{countColumn("PHP",users)}}</td>
            <td>0</td>
          </tr>
        </tbody>

      </table>
      <input type="button" class="btn btn-primary" ng-click="addUser();" value="Add" />
    </div> <!-- Koniec ng-controller -->

  </div> <!-- Koniec ng-app -->



</body>

</html>